<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STF-Puzzle Simplified Version</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.js"></script>
    <style>
        .ajustarCentro{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .botonCambiarColor{
            color: transparent;
            border: 1px solid black;
            position: relative;
            padding: 2px;
        }
        .botonCambiarColor::before,.botonCambiarColor::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;
        }
        .botonCambiarColor::before {
            top: -6px;
            left: -6px;
            right: -6px;
            bottom: -6px;
            border: 5px solid white;
        }

        .botonCambiarColor::after {
            top: -7px;
            left: -7px;
            right: -7px;
            bottom: -7px;
            border: 1px solid black
        }

    </style>
</head>
<body style="padding: 20px">
<h1>STF-Puzzle Simplified Version</h1>
<div class="row ajustarCentro" id="bloqueSeleccionJugador" style="width: 500px;height: auto">
    <div class="row text-center ajustarCentro" style="margin-bottom: 20px;margin-top: 10px">
        <img src="/fotoDefecto.png" style="max-width: 300px;opacity: 0" alt="">
        <img src="/fotoDefecto.png" id="imagenMostrar" class="img-fluid" style="max-width: 300px;z-index: 10000;position: absolute" alt="">

        <input type="file" onchange="cambiarFoto(event)" accept="image/jpeg" style="display: none" id="imagenInput">
    </div>
    <div style="display: flex;justify-content: space-between;margin-left: 10px;margin-right: 10px;padding: 20px" class="row">
        <a style="width: 30%;cursor: pointer" onclick="cambiarColor()" class="botonCambiarColor"></a>
        <input onchange="validarIniciarJuego()" id="dimensiones" style="width: auto" placeholder="Ingrese las dimensiones del puzzle" class="form-control">
    </div>
    <div class="row" style="display: flex;justify-content: center;margin-bottom: 10px;margin-top: 20px">
        <a class="btn btn-success" onclick="clicarSeleccionarFoto()" style="width: auto;padding: 10px">Seleccionar personaje</a>
    </div>
</div>
<div class="row text-center" id="botonIniciarJuego" style="width: 500px;display: none">
    <a onclick="iniciarJuego()" class="btn btn-success">Iniciar juego</a>
</div>
<div class="row text-center" id="contenedorJuego" style="width: 100%;display: none">
</div>
<script>
    let urlFoto="fotoDefecto.png";
    let numeroColorActual=0;
    const listaColores=["green","red","blue","skyblue","purple","orange","darkred","lightgreen"];
    let matriz=[];
    let matrizImagenes=[];
    let dimension=null;
    const dimensionContenedor="1000px";
    function clicarSeleccionarFoto(){
        document.getElementById("imagenInput").click()
    }
    let bloqueSeleccionado=false;
    let posicionBloqueSeleccionado=null;
    let posicionBloqueDisponible=null;
    let movimientoValido=false;
    function cambiarFoto(event){
        const file = event.target.files[0];
        if (file&&file.type==="image/jpeg") {
            const reader = new FileReader();
            reader.onload = function(e) {
                const imageContainer = $('#imagenMostrar');
                const url=e.target.result;
                imageContainer.attr("src",url);
                urlFoto=url;
            };
            reader.readAsDataURL(file);
        }
        validarIniciarJuego();
    }
    function cambiarColor(){
        for(let i=0;i<listaColores.length;i++){
            if(numeroColorActual==listaColores.length){
                numeroColorActual=0;
            }else {
                numeroColorActual++;
            }
        }
        $("#bloqueSeleccionJugador").css("background",listaColores[numeroColorActual]);
    }

    function validarIniciarJuego(){
        const imagen=$("#imagenMostrar");
        const dimensiones=$("#dimensiones").val();
        const aux=dimensiones.split("x");
        const botonIniciarJuego=$("#botonIniciarJuego");
        let flag=true;
        if(aux.length!==2){
            flag=false;
        }
        if(isNaN(aux[0])||isNaN(aux[1])){
            flag=false;
        }
        if(aux[0]!==aux[1]){
            flag=false;
        }
        if(imagen.attr("src")!==""&&flag){
            botonIniciarJuego.css("display","");
        }else {
            botonIniciarJuego.css("display","none");
        }
    }
    function iniciarJuego(){
        matriz=[];
        $("#bloqueSeleccionJugador").css("display","none");
        $("#botonIniciarJuego").css("display","none");
        dimension=$("#dimensiones").val().split("x")[0]
        const contenedorJuego=$("#contenedorJuego");
        const dimensionImagen=dimension*100+"%";
        for(let i=0;i<dimension;i++){
            let fila=[];
            let filaImagenes=[]
            const desplazamientoImagenBottom=i*100+"%";
            for(let j=0;j<dimension;j++){
                const topInset=i/dimension;
                const rightInset=(dimension-j-1)/dimension;
                const bottomInset=(dimension-i-1)/dimension;
                const leftInset=j/dimension;
                const desplazamientoImagenRight=j*100+"%";
                fila.push({x:i,y:j});
                if(i==dimension-1&&j==dimension-1){
                    filaImagenes.push('<img style="clip-path: inset('+topInset+' '+rightInset+' '+bottomInset+' '+leftInset+');width: '+dimensionImagen+';height: '+dimensionImagen+';position: relative;right: '+desplazamientoImagenRight+';bottom: '+desplazamientoImagenBottom+'" alt="">\n')
                }else {
                    filaImagenes.push('<img src="'+urlFoto+'" style="clip-path: inset('+topInset+' '+rightInset+' '+bottomInset+' '+leftInset+');width: '+dimensionImagen+';height: '+dimensionImagen+';position: relative;right: '+desplazamientoImagenRight+';bottom: '+desplazamientoImagenBottom+'" alt="">\n');
                }
            }
            posicionBloqueDisponible={x:dimension-1,y:dimension-1};
            matriz.push(fila);
            matrizImagenes.push(filaImagenes);
        }
        contenedorJuego.css("display","");
        reiniciarContenedorJuego();
    }
    /*<div className="row" style="height: 500px;width: 500px">
        <div className="row" style="width: 100%;height: 33.3%">
            <div style="width: 33.3%;height: 100%;padding: 0;border: black solid 2px">
                <img src="/fotoDefecto.png" style="clip-path: inset(0% 66.6% 66.6% 0%);width: 300%;height: 300%;position: relative;right: 0%;top: 0%" alt="">
            </div>
            <div style="width: 33.3%;height: 100%;padding: 0;border: black solid 2px">
                <img src="/fotoDefecto.png" style="clip-path: inset(0% 33.3% 66.6% 33.3%);width: 300%;height: 300%;position: relative;right: 100%;top: 0%" alt="">
            </div>
            <div style="width: 33.3%;height: 100%;padding: 0;border: black solid 2px">
                <img src="/fotoDefecto.png" style="clip-path: inset(0% 0% 66.6% 66.6%);width: 300%;height: 300%;position: relative;right: 200%;top: 0%" alt="">
            </div>
        </div>
        <div className="row" style="width: 100%;height: 33.3%">
            <div style="width: 33.3%;height: 100%;padding: 0;border: black solid 2px">
                <img src="/fotoDefecto.png" style="clip-path: inset(33.3% 66.6% 33.3% 0%);width: 300%;height: 300%;position: relative;right: 0%;bottom: 100%" alt="">
            </div>
            <div style="width: 33.3%;height: 100%;padding: 0;border: black solid 2px">
                <img src="/fotoDefecto.png" style="clip-path: inset(33.3% 33.3% 33.3% 33.3%);width: 300%;height: 300%;position: relative;right: 100%;bottom: 100%" alt="">
            </div>
            <div style="width: 33.3%;height: 100%;padding: 0;border: black solid 2px">
                <img src="/fotoDefecto.png" style="clip-path: inset(33.3% 0% 33.3% 66.6%);width: 300%;height: 300%;position: relative;right: 200%;bottom: 100%" alt="">
            </div>
        </div>
        <div className="row" style="width: 100%;height: 33.3%">
            <div style="width: 33.3%;height: 100%;padding: 0;border: black solid 2px">
                <img src="/fotoDefecto.png" style="clip-path: inset(66.6% 66.6% 0% 0%);width: 300%;height: 300%;position: relative;right: 0%;bottom: 200%" alt="">
            </div>
            <div style="width: 33.3%;height: 100%;padding: 0;border: black solid 2px">
                <img src="/fotoDefecto.png" style="clip-path: inset(66.6% 33.3% 0% 33.3%);width: 300%;height: 300%;position: relative;right: 100%;bottom: 200%" alt="">
            </div>
            <div style="width: 33.3%;height: 100%;padding: 0;border: black solid 2px">
                <img src="/fotoDefecto.png" style="clip-path: inset(66.6% 0% 0% 33.3%);width: 300%;height: 300%;position: relative;right: 200%;bottom: 200%" alt="">
            </div>
        </div>
    </div>*/

    function reiniciarContenedorJuego(){
        console.log(matriz);
        console.log(matrizImagenes);
        const height=(1/dimension)*100+"%";
        const width=(1/dimension)*100+"%";
        let html='<div class="row" style="height: '+dimensionContenedor+';width: '+dimensionContenedor+'">\n';
        for(let i=0;i<dimension;i++){
            html+='<div class="row" style="width: 100%;height: '+height+'">\n';
            for(let j=0;j<dimension;j++){
                const posicionActual=matriz[i][j];
                html+='<div id="bloque'+i+''+j+'" onclick="seleccionarBloque('+i+','+j+')" style="background: #6c757d;width: '+width+';height: 100%;padding: 0;border: black solid 2px;cursor: default;overflow: hidden">\n';
                html+=matrizImagenes[posicionActual.x][posicionActual.y];
                html+='</div>\n';
            }
            html+='</div>\n';
        }
        html+='</div>';
        $("#contenedorJuego").html(html);
    }

    function seleccionarBloque(i,j){
        if(bloqueSeleccionado===false){
            posicionBloqueSeleccionado={x:i,y:j};
            bloqueSeleccionado=true;
            const bloque=$("#bloque"+i+""+j);
            bloque.children().eq(0).css("opacity","0.5");
            bloque.css("background","gold");
            bloque.css("opacity","0.5");
            movimientoValido=(posicionBloqueDisponible.x==i+1&&posicionBloqueDisponible.y==j)||(posicionBloqueDisponible.x==i-1&&posicionBloqueDisponible.y==j)||(posicionBloqueDisponible.x==i&&posicionBloqueDisponible.y==j+1)||(posicionBloqueDisponible.x==i&&posicionBloqueDisponible.y==j-1);
            console.log(movimientoValido);
            if(movimientoValido){
                console.log(posicionBloqueDisponible)
                const bloqueDisponible=$("#bloque"+posicionBloqueDisponible.x+""+posicionBloqueDisponible.y);
                console.log(bloqueDisponible);
                bloqueDisponible.css("background","yellow");
            }
        }else {
            if(posicionBloqueDisponible.x==i&&posicionBloqueDisponible.y==j){
                if(movimientoValido){
                    const htmlBloqueSeleccionado=$("#bloque"+posicionBloqueSeleccionado.x+""+posicionBloqueSeleccionado.y).html();
                    const htmlBloqueDisponible=$("#bloque"+posicionBloqueDisponible.x+""+posicionBloqueDisponible.y).html();
                    const posicionAuxiliar=matriz[posicionBloqueSeleccionado.x][posicionBloqueSeleccionado.y];
                    matriz[posicionBloqueSeleccionado.x][posicionBloqueSeleccionado.y]=matriz[posicionBloqueDisponible.x][posicionBloqueDisponible.y];
                    matriz[posicionBloqueDisponible.x][posicionBloqueDisponible.y]=posicionAuxiliar;
                }
            }
            reiniciarContenedorJuego();
            movimientoValido=false;
            bloqueSeleccionado=false;
        }
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>