<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STF-Puzzle Simplified Version</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.js"></script>
    <style>
        .ajustarCentro{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .botonCambiarColor{
            color: transparent;
            border: 1px solid black;
            position: relative;
            padding: 2px;
        }
        .botonCambiarColor::before,.botonCambiarColor::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;
        }
        .botonCambiarColor::before {
            top: -6px;
            left: -6px;
            right: -6px;
            bottom: -6px;
            border: 5px solid white;
        }

        .botonCambiarColor::after {
            top: -7px;
            left: -7px;
            right: -7px;
            bottom: -7px;
            border: 1px solid black
        }

    </style>
</head>
<body style="padding: 20px">
<h1>STF-Puzzle Simplified Version</h1>
<div class="row ajustarCentro" id="bloqueSeleccionJugador" style="width: 500px;height: auto">
    <div class="row text-center ajustarCentro" style="margin-bottom: 20px;margin-top: 10px">
        <img src="/fotoDefecto.jpg" style="max-width: 300px;opacity: 0" alt="">
        <img src="/fotoDefecto.jpg" id="imagenMostrar" class="img-fluid" style="max-width: 300px;z-index: 10000;position: absolute" alt="">

        <input type="file" onchange="cambiarFoto(event)" accept="image/jpeg" style="display: none" id="imagenInput">
    </div>
    <div style="display: flex;justify-content: space-between;margin-left: 10px;margin-right: 10px;padding: 20px" class="row">
        <a style="width: 30%;cursor: pointer" onclick="cambiarColor()" class="botonCambiarColor"></a>
        <input oninput="validarIniciarJuego()" id="dimensiones" style="width: auto" placeholder="Ingrese las dimensiones del puzzle" class="form-control">
    </div>
    <div class="row" style="display: flex;justify-content: center;margin-bottom: 10px;margin-top: 20px">
        <a class="btn btn-success" onclick="clicarSeleccionarFoto()" style="width: auto;padding: 10px">Seleccionar personaje</a>
    </div>
</div>
<div class="row text-center" id="botonIniciarJuego" style="width: 500px;display: none">
    <a onclick="iniciarJuego()" class="btn btn-success">Iniciar juego</a>
</div>
<div class="row text-center" id="contenedorJuego" style="width: 100%;display: none">
</div>
<script th:inline="javascript">
    let urlFoto="fotoDefecto.png";
    let numeroColorActual=0;
    const listaColores=["green","red","blue","skyblue","purple","orange","darkred","lightgreen"];
    let matriz=[];
    let matrizImagenes=[];
    let dimension=null;
    const dimensionContenedor="1000px";
    function clicarSeleccionarFoto(){
        document.getElementById("imagenInput").click()
    }
    let bloqueSeleccionado=false;
    let posicionBloqueSeleccionado=null;
    let posicionBloqueDisponible=null;
    let movimientoValido=false;
    const cantidadDeMovimientosIniciales=9;
    let matrizLineal=/*[[${matrizLineal}]]*/;
    document.addEventListener('DOMContentLoaded', function() {
        if(matrizLineal!=null){
            iniciarJuego();
        }
    });
    async function cargarImagenPredeterminada() {
        const fileInput = document.getElementById('imagenInput');
        const response = await fetch('/fotoDefecto.jpg');
        const data = await response.blob();
        const metadata = {
            type: 'image/jpeg'
        };
        const file = new File([data], 'fotoDefecto.jpg', metadata);
        const dataTransfer = new DataTransfer();
        dataTransfer.items.add(file);
        fileInput.files = dataTransfer.files;
    }
    function obtenerMatrizLineal(){
        let cadena="";
        console.log(matriz)
        console.log(matriz[1][0])
        for(let i=0;i<dimension;i++){
            console.log(matriz[i])
            for(let j=0;j<dimension;j++){
                const bloque=matriz[i][j];
                if(bloque.x==dimension-1&&bloque.y==dimension-1){
                    cadena+="X";
                }else {
                    cadena+=bloque.x*3+bloque.y+1;
                }
            }
        }
        console.log(cadena)
        console.log(matriz)
        return cadena;
    }
    function actualizarMatrizNormal(matrizLineal){
        let matrizAux=[];
        const matrizLinealArray=matrizLineal.split("");
        dimension=Math.sqrt(matrizLinealArray.length);
        for(let i=0;i<dimension;i++){
            let filaAux=[];
            for(let j=0;j<dimension;j++){
                let valor=matrizLinealArray[i*dimension+j];
                if(valor==="X"){
                    valor=dimension*dimension-1;
                    posicionBloqueDisponible={x:i,y:j}
                    console.log(posicionBloqueDisponible)
                }else {
                    valor-=1;
                }
                filaAux.push({x:parseInt(Math.floor(valor/dimension)),y:parseInt(valor-i*dimension)});
            }
            matrizAux.push(filaAux);
        }
        matriz=matrizAux;
    }
    function subirFoto(){
        const imagen=$("#imagenInput");
        let formData=new FormData();
        formData.append("imagen",imagen[0].files[0]);
        formData.append("matriz",obtenerMatrizLineal());
        $.ajax({
            url: '/subirFoto',
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                console.log("yupi");
            },
            error: function (xhr, status, error) {
                console.log("aiuda")
            }
        });
    }
    function cambiarFoto(event){
        const file = event.target.files[0];
        if (file&&file.type==="image/jpeg") {
            const reader = new FileReader();
            reader.onload = function(e) {
                const imageContainer = $('#imagenMostrar');
                const url=e.target.result;
                imageContainer.attr("src",url);
                urlFoto=url;
            };
            reader.readAsDataURL(file);
        }
        validarIniciarJuego();
    }
    function cambiarColor(){
        for(let i=0;i<listaColores.length;i++){
            if(numeroColorActual==listaColores.length){
                numeroColorActual=0;
            }else {
                numeroColorActual++;
            }
        }
        $("#bloqueSeleccionJugador").css("background",listaColores[numeroColorActual]);
    }

    function validarIniciarJuego(){
        const imagen=$("#imagenMostrar");
        const dimensiones=$("#dimensiones").val();
        let flag=true;
        if(dimensiones.length!==3){
            flag=false;
        }
        const aux=dimensiones.split("x");
        const botonIniciarJuego=$("#botonIniciarJuego");
        if(aux.length!==2){
            flag=false;
        }
        if(isNaN(aux[0])||isNaN(aux[1])){
            flag=false;
        }
        if(aux[0]!==aux[1]){
            flag=false;
        }
        if(imagen.attr("src")!==""&&flag){
            botonIniciarJuego.css("display","");
        }else {
            botonIniciarJuego.css("display","none");
        }
    }
    async function iniciarJuego(){
        if(matrizLineal!=null){
            matriz=[];
            urlFoto="/mostrarImagen";
        }
        $("#bloqueSeleccionJugador").css("display","none");
        $("#botonIniciarJuego").css("display","none");
        if(matrizLineal!=null){
            actualizarMatrizNormal(matrizLineal);
        }else {
            dimension=$("#dimensiones").val().split("x")[0]
        }
        const contenedorJuego=$("#contenedorJuego");
        const dimensionImagen=dimension*100+"%";
        for(let i=0;i<dimension;i++){
            let fila=[];
            let filaImagenes=[]
            const desplazamientoImagenBottom=i*100+"%";
            for(let j=0;j<dimension;j++){
                const topInset=i/dimension;
                const rightInset=(dimension-j-1)/dimension;
                const bottomInset=(dimension-i-1)/dimension;
                const leftInset=j/dimension;
                const desplazamientoImagenRight=j*100+"%";
                if(matrizLineal==null){
                    fila.push({x:i,y:j});
                }
                if(i==dimension-1&&j==dimension-1){
                    filaImagenes.push('<img style="clip-path: inset('+topInset+' '+rightInset+' '+bottomInset+' '+leftInset+');width: '+dimensionImagen+';height: '+dimensionImagen+';position: relative;right: '+desplazamientoImagenRight+';bottom: '+desplazamientoImagenBottom+'" alt="">\n')
                }else {
                    filaImagenes.push('<img src="'+urlFoto+'" style="clip-path: inset('+topInset+' '+rightInset+' '+bottomInset+' '+leftInset+');width: '+dimensionImagen+';height: '+dimensionImagen+';position: relative;right: '+desplazamientoImagenRight+';bottom: '+desplazamientoImagenBottom+'" alt="">\n');
                }
            }
            if(matrizLineal==null){
                posicionBloqueDisponible={x:dimension-1,y:dimension-1};
                matriz.push(fila);
            }
            matrizImagenes.push(filaImagenes);
        }

        let imagen=$("#imagenInput").val();
        if(imagen===""){
            await cargarImagenPredeterminada();
        }
        subirFoto();
        contenedorJuego.css("display","");
        if(matrizLineal==null){
            realizarMovimientosAleatorios();
        }
        reiniciarContenedorJuego();
    }
    function realizarMovimientosAleatorios(){
        let contador=0;
        while(1){
            const i1=Math.floor((Math.random()*dimension));
            const j1=Math.floor((Math.random()*dimension));
            const i2=posicionBloqueDisponible.x;
            const j2=posicionBloqueDisponible.y;
            if((i1===i2&&j1===j2+1)||(i1===i2&&j1===j2-1)||(i1===i2+1&&j1===j2)||(i1===i2-1&&j1===j2)){
                const posicionAuxiliar=matriz[i1][j1];
                matriz[i1][j1]=matriz[i2][j2];
                matriz[i2][j2]=posicionAuxiliar;
                posicionBloqueDisponible={x:i1,y:j1};
                contador++
                if(contador===cantidadDeMovimientosIniciales){
                    return;
                }
            }
        }
    }
    function reiniciarContenedorJuego(){
        const height=(1/dimension)*100+"%";
        const width=(1/dimension)*100+"%";
        let html='<div class="row" style="height: '+dimensionContenedor+';width: '+dimensionContenedor+'">\n';
        for(let i=0;i<dimension;i++){
            html+='<div class="row" style="width: 100%;height: '+height+'">\n';
            for(let j=0;j<dimension;j++){
                const posicionActual=matriz[i][j];
                html+='<div id="bloque'+i+''+j+'" onclick="seleccionarBloque('+i+','+j+')" style="background: #6c757d;width: '+width+';height: 100%;padding: 0;border: black solid 2px;cursor: default;overflow: hidden">\n';
                html+=matrizImagenes[posicionActual.x][posicionActual.y];
                html+='</div>\n';
            }
            html+='</div>\n';
        }
        html+='</div>';
        $("#contenedorJuego").html(html);
        if(validarVictoria()){
            alert("Juego terminado!");
            finalizarPartida();
        }
    }
    function finalizarPartida(){
        $.ajax({
            url: '/eliminarPartida',
            type: 'POST',
            data:{
                matrizLineal:matrizLineal
            },
            success: function (response) {
                console.log("nueva partida Uwu");
            },
            error: function (xhr, status, error) {
                console.log("aiuda")
            }
        });
    }
    function actualizarPartida(){
        const nuevaMatrizLineal=obtenerMatrizLineal();
        $.ajax({
            url: '/actualizarPartida',
            type: 'POST',
            data:{
                matrizLinealAntigua:matrizLineal,
                matrizLinealNueva:nuevaMatrizLineal
            },
            success: function (response) {
                matrizLineal=nuevaMatrizLineal;
                console.log("actualización realizada Uwu");
            },
            error: function (xhr, status, error) {
                console.log("aiuda")
            }
        });
    }
    function seleccionarBloque(i,j){
        if(bloqueSeleccionado===false){
            console.log("aaaa")
            posicionBloqueSeleccionado={x:i,y:j};
            bloqueSeleccionado=true;
            const bloque=$("#bloque"+i+""+j);
            bloque.children().eq(0).css("opacity","0.5");
            bloque.css("background","gold");
            bloque.css("opacity","0.5");
            movimientoValido=(posicionBloqueDisponible.x==i+1&&posicionBloqueDisponible.y==j)||(posicionBloqueDisponible.x==i-1&&posicionBloqueDisponible.y==j)||(posicionBloqueDisponible.x==i&&posicionBloqueDisponible.y==j+1)||(posicionBloqueDisponible.x==i&&posicionBloqueDisponible.y==j-1);
            console.log(movimientoValido);
            console.log(posicionBloqueSeleccionado)
            console.log(posicionBloqueDisponible)
            if(movimientoValido){
                const bloqueDisponible=$("#bloque"+posicionBloqueDisponible.x+""+posicionBloqueDisponible.y);
                bloqueDisponible.css("background","yellow");
            }
        }else {
            console.log("eeee")
            if(posicionBloqueDisponible.x==i&&posicionBloqueDisponible.y==j){
                if(movimientoValido){
                    const posicionAuxiliar=matriz[posicionBloqueSeleccionado.x][posicionBloqueSeleccionado.y];
                    matriz[posicionBloqueSeleccionado.x][posicionBloqueSeleccionado.y]=matriz[posicionBloqueDisponible.x][posicionBloqueDisponible.y];
                    matriz[posicionBloqueDisponible.x][posicionBloqueDisponible.y]=posicionAuxiliar;
                    posicionBloqueDisponible=posicionBloqueSeleccionado;
                    posicionBloqueSeleccionado=null;
                }
            }
            reiniciarContenedorJuego();
            movimientoValido=false;
            bloqueSeleccionado=false;
            actualizarPartida();
        }
    }

    function validarVictoria(){
        for(let i=0;i<dimension;i++){
            for(let j=0;j<dimension;j++){
                if(matriz[i][j].x!==i||matriz[i][j].y!==j){
                    return false;
                }
            }
        }
        return true;
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>